*{
    user-select: none;
    font-family: "Oswald", sans-serif;
}

body{
    background-image: url("img/etchback.jpg");
    
    background-size: cover;
    
    background-color: rgb(91, 91, 175);
    background-blend-mode:multiply;
    
    
    color: lightgray;
    display: flex;
    flex-direction: column;

}

h1{
    text-align: center;
}
.content{
    display : flex;
    justify-content: center;
    align-items: center;
    flex-wrap : wrap;
    margin: 0 auto;
}

/*Options*/
.options{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color{
    width : 100px;
    height: 100px;

    overflow: hidden;
    border: 2px solid gray;
    box-shadow: 0 0 2px 2px;
}
button{
    width: 250px;
    padding: 10px 0;
    margin : 5px 0; 
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    color : lightgray;
    background-color: rgb(117, 116, 116);
}

.active{
    color:  rgb(117, 116, 116);
    background-color: lightgray;
}

[type="range"]{
    width: 70%;
}

.grid-container{
    display: grid;
    min-width: 460px;
    min-height: 460px;
    background-color: white;
    grid-template-columns: repeat(8, 1fr);
    /*width: 900px;*/
    border : 3px solid rgb(126, 126, 126);
    
    margin : 0 0;
}

.box{
    display: inline-block;
    
    padding: 0;
    margin: 0;
    background-color: rgb(226, 223, 223);
    border: 1px solid grey; 
    transition: 0.3s;
    user-select: none;
}

@keyframes hover-effect{
    0%{opacity: 60%;}
    100%{opacity: 30%;}
   /* 100%{opacity: 100%;}*/
}



.hover{
    background-color: black;
    animation-name: hover-effect;
    animation-duration: 0.4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}
